:root {
  font-family: "Verdana", sans-serif;
  font-size: 1em;
  line-height: 1.45;
}

html * {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #798DAE;
}

p {
  font-family: "Verdana", sans-serif;
  font-size: .75em;
  margin: 5px 0 10px 0;
  padding: 5px 0 10px 0;
}

h1 {
  font-family: "Georgia", serif;
  font-size: 2em;
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
  letter-spacing: .5px;
  text-shadow: 2px 1px 1px #2F4975;
}

h2 {
  font-family: "Georgia", sans-serif;
  font-size: 1.3em;
  margin: 2px 0 2px 0;
  padding: 1px 0 1px 0;
}

h3 {
  font-family: "Verdana", sans-serif;
  font-size: 1em;
  letter-spacing: .75px;
  text-transform: lowercase;
  margin: 0 0 20px 0;
  padding: 0 0 5px 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0;
  border: 0;
}

.main-el {
  margin: 0;
  padding: 0;
}

.nav-el ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #2F4975;
  text-align: center;
}

.menu-ch a {
  text-decoration: none;
  color: #fff;
}

.nav-el a:hover {
  color: #798CAE;
}

.center-heading {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.threecol {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-content: center;
  margin: 10px 0 0 0;
  padding: 0 0 0 0;
}

.box1 {
}

.threecol a {
  text-decoration: none;
  color: #000;
}

.threecol a:hover {
  color: ##635799;
}

.threecol img {
  width: 100%;
  align-items: center;
}

.main-footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0;
  padding: 0;
  bottom: 0;
}

.social-media {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 2em;
}

.subtext {
  font-size: .5em;
  margin: 0;
  padding: 0;
  bottom: 0;
}

@media only screen and (min-width: 600px) {
  .threecol {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: flex-end;
  }

  .threecol img {
    margin-right: 20px;
    padding-right: 20px;
  }
}
